.image-style{
    height: 75%;
    z-index: 2;
}

.product-container{
    opacity: 0.9;
    flex: 1 0 14%;
    margin: 5px;
    padding: 5px;
    min-width: 280;
    height: 350px;
    border: 0.2px solid;
    border-color: #a9b0b2;
    display:flex;
    flex-direction:column;
    background-color: #f5fbfd;
    position: relative;
}
    
.product-container:hover{
    opacity: 1;
    transition: all 0.5s ease;
    transform: translate(0,-10px);
}
